@use "../variables.scss" as *;
.iphone-16 {
	width: 100%;
	max-width: 2560px;
	height: 692px;
	margin: 0 auto;
	padding-top: 55px;
	margin-bottom: 12px;
	background-color: #{$color-dark};
	background-image: url("../../image/iphone-16.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	@media (min-width: 2000px) {
		height: 850px;
	}
	&__title {
		font-size: 54px;
		text-align: center;
		padding-bottom: 6px;
		color: #{$color-primary-light};
	}
	&__description {
		color: #{$color-primary-light};
		font-size: 28px;
		text-align: center;
		padding-bottom: 19px;
	}
	&__btn-wrapper {
		display: flex;
		gap: 17px;
		justify-content: center;
	}
	&__btn {
		background-color: #{$color-primary-light} !important;
		color: #{$color-primary-dark} !important;
	}
	&__btn-light {
		--bc: #{$color-primary-light} !important;
		border: 1px solid var(--bc) !important;
		color: #{$color-primary-dark} !important;
		background-color: transparent !important;
	}
}

@media (max-width: 830px) {
	.iphone-16 {
		height: 500px;
		padding-top: 37px;
			background-color: transparent;
		background-size: cover; 
		&__title {
			font-size: 31px;
			line-height: 18px;
		}
		&__description {
			font-size: 19px;
			line-height: 18px;
			padding-bottom: 18px;
			min-width: 199px;
			padding: 0 10px 19px 10px;
		}
		&__btn {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 15px;
			line-height: 11px;
			font-size: 14px;
		}
		&__btn-light {
			padding: 10px 15px;
			line-height: 11px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 14px;
		}
	}
}
@media (max-width: 500px) {
	.iphone-16 {
		background-image: url("../../image/iphone-16-mob.jpg");
	}
}
